/* Importing Lato font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Importing Karla font */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Use universal selector to target and add styles to repeated tags with common styles */
* ul,
li,
a {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Change the background color of the body and reset the margin of the body to 0 */
body {
    background-color: #f3f0e9;
    margin: 0;
}

/* Add style to center align text */
.center-align {
    text-align: center;
}

 /* Adjust bottom margin for some h2 elements */
.welcome {
    margin-bottom: 50px;
}

/* Specify the width for the container/wrapper */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Specify the width for all images */
* img {
    width: 100%;
}

/* Apply Lato font to the headings and navigation links*/
h1,
h2,
h3,
#skip-links,
#main-nav ul a {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
}

/* Change font size for all headings and paragraphs */
h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.424rem;
}

p {
    font-size: 16px;
}

/* Apply Karla font to all paragraphs,blockquotes, and buttons */
p,
blockquote,
button {
    font-family: 'karla', sans-serif;
}

/* Change styles for skip links*/
#skip-links {
    margin: 0;
    padding: 0;
}

/* Use absolute to alter the position of the skip links */
#skip-links a{
    position: absolute;
    top: -50px;
    padding: 5px;
    color: white;
}

/* Reset the postion of the skip links when they are in focus and change the background color */
#skip-links a:focus{
    top: 0;
    background-color: rgb(214, 158, 61);
}

/* Add a flexbox layout to the main nav */
#main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

/* Add a flexbox layout to main nav container */
#main-nav ul {
    display: flex;
    justify-content: space-between;
}

/* Add styles to main nav links */
#main-nav ul a {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    transition: all ease-in-out 0.4s;
}

/* Change background color and adjust the border-radius for the main nav links when hover */
#main-nav ul a:hover {
    background-color: rgb(214, 158, 61);
    border: 1px solid white;
    border-radius: 30px 0;
    transform: scale(0.8);
}

/* Change background color and adjust the border-radius for the main nav links when in focus */
#main-nav ul a:focus {
    background-color: rgb(150, 111, 44);
    border-radius: 30px 0;
}

/* Adjust the size of the logo */
#main-nav img {
    width: 200px;
}

/* Use flexbox to align the information in the banner section */
#banner {
    display: flex;
    flex-direction: column;

/* Use a background image and add an overlay by using a linear gradient and alter the alpha channel to change the overlay's opacity */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)), url("../images/hero-background.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    height: 350px;
}

/* Add top and bottom margin for elements of the hero banner */
.hero {
    margin: 10px 0;
}

/* Add styles to the explore button along with an animation effect */
.explore {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 9px 20px;
    border: none;
    transition: all ease-in-out 0.4s;
}

.explore:hover {
    background-color: rgb(214, 158, 61);
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    transform: scale(0.9);
}

.explore:focus {
    background-color: rgb( 150, 111, 44);
    color: white;
    border: 1px solid white;
    border-radius: 100px;       
    transform: scale(0.9);
}


/* Style the main paragraph text */
.main-text {
    color: rgb(214, 158, 61);
    text-transform: uppercase;
    margin: 50px 0 -20px 0;
}

/* Add a grid layout and create grid area template to arrange coffee images in the welcome*/
.coffee {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
    grid-template-areas: 
    'one one'
    'one one'
    'two three'
    'four five';
}

/* Assign images to their required area in the grid */
.latte {
    grid-area: one;
}

.coffee-beans {
    grid-area: two;
}

.pouring-coffee {
    grid-area: three;
}

.three-cups {
    grid-area: four;
}

.smiling-employee {
    grid-area: five;
}

/* Apply a flexbox layout for the secial-offer section */
.special-offer {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
}

/* Change the size of the image according to the mockup */
.special-offer img {
    width: 120px;
}

/* Create space  */
.special-offer p {
    margin: 0 0 70px;
}

.special-offer h3 {
    margin: 15px 0 10px;
}

.store {
    display: flex;
    flex-direction: column;

/* Use a background image and add an overlay by using a linear gradient and alter the alpha channel to change the overlay's opacity */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url("../images/coffee-shop.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 40px 20px;
}

.store-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.store-info p {
    color: rgb(214, 158, 61);
}

.store-info h2 {
    margin: 0 0 30px;
}

.location {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 7px 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transition: all ease-in-out 0.4s;
}

.location:hover {
    border: 1px solid rgb(214, 158, 61);
    border-radius: 100px;
    transform: scale(0.9);
}

.about-us {
    margin: 70px 0;
}

.about-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 7px 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}

.testimonials {
    background-color: rgb(0, 0, 0);
    padding: 20px 10px;
}

.testimonials h2,
blockquote {
    color: rgb(255, 255, 255);
}

.reviews {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
}

.first {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/testimonial-1.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

.second {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url("../images/testimonial-2.jpeg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

.third {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url("../images/testimonial-3.jpeg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

.reviews p {
    color: rgb(214, 158, 61);
    text-transform: uppercase;
    padding-left: 20px;
}

.reviews blockquote {
    margin: auto 0 0;
    padding-left: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    margin-top: -20px;
}

hr {
    margin-top: 50px;
}


/* *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    *                                                                            *
    *     Add a min-width media query for screen size of 768px and above         *
    *   ------------------------------------------------------------------       *
    *                                                                            * 
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


@media screen and (min-width: 768px) {

/* Change font size for all headings */
h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 1.728rem;
}
    
/* Change the height of the banner */
#banner {
    height: 490px;
}

    /* Add a grid layout and create grid area template */
.coffee {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    grid-template-areas: 
    'one one two three'
    'one one four five';
}

/* Assign images to their required area in the grid */
.latte {
    grid-area: one;
}

.coffee-beans {
    grid-area: two;
}

.pouring-coffee {
    grid-area: three;
}

.three-cups {
    grid-area: four;
}
.smiling-employee {
    grid-area: five;
}

.offers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.fair-trade {
    grid-column: 1/2;
}

.lacal-baked {
    grid-column: 3/4;
}

.made-with-love {
    grid-column: 2/3;
    grid-row: 2/2;
}

.store {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.store-info {
    margin: 30px;
}

.store-info h2 {
    margin-bottom: 50px;
}

.about-us {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
}

.p-text{
    color: rgb(214, 158, 61);
    margin: 0;
}

.about-info h2 {
    margin: 5px 0;
}

.about-btn {
    margin-top: 20px;
}

.service-reviews {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
}

/* *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    *                                                                            *
    *     Add a min-width media query for screen size of 1100px and above        *
    *   ------------------------------------------------------------------       *
    *                                                                            * 
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (min-width: 1100px) {

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Change font size for all headings */
h1 {
    font-size: 3.815rem;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 1.953rem;
}
    
/* Change the height of the banner */
#banner {
    height: 700px;
}

.offers {
    display: flex;
    align-items: center;
}

.about-us {
   margin: 120px auto;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
}

.p-text{
    color: rgb(214, 158, 61);
    margin: 0;
}

.about-info h2 {
    margin: 5px 0;
}

.about-btn {
    margin-top: 20px;
}

.service-reviews {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    
}
}