/* Importing Lato font*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Importing Karla font */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Use universal selector to target and add styles to repeated tags with common styles */
* ul,
li,
a {
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* Change the background color of the body and reset the margin of the body to 0 */
body {
    background-color: #f3f0e9;
    margin: 0;
    padding-top: 56px;
}

/* Add style to center align text */
.center-align {
    text-align: center;
}

 /* Adjust bottom margin for some h2 elements */
.welcome {
    margin-bottom: 50px;
}

/* Specify the width for the container/wrapper */
.container {
    width: 350px;
    margin: 0 auto;
}

/* Specify the width for all images */
* img {
    width: 100%;
}

/* Apply Lato font to the headings and navigation links*/
h1,
h2,
#skip-links,
#main-nav ul a {
    font-family: 'lato', sans-serif;
    text-transform: uppercase;
}

/* Change font size for all headings and paragraphs */
h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.424rem;
}

p {
    font-size: 16px;
}

/* Apply Karla font to all paragraphs,blockquotes, and buttons */
p,
blockquote,
button {
    font-family: 'karla', sans-serif;
}

/* Change styles for skip links*/
#skip-links {
    margin: 0;
    padding: 0;
}

/* Use absolute to alter the position of the skip links */
#skip-links a{
    position: absolute;
    top: -50px;
    padding: 5px;
    color: white;
}

/* Reset the postion of the skip links when they are in focus and change the background color */
#skip-links a:focus{
    top: 0;
    background-color: rgb(214, 158, 61);
}

/* Add a flexbox layout to the main nav */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 0 0;
}

nav {
    background-color: black;
  }

/* Add a flexbox layout to main nav container */
/* nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  } */

/* Add styles to main nav links */
.nav-item a {
    color: #f3f0e9;
    font-size: 14px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin: 0.2rem;
    width: fit-content;
    padding: 5px 15px;
    transition: all ease-in-out 0.5s;
}

/* Change background color and adjust the border-radius for the main nav links when hover */
.nav-item a:hover {
    color: rgb(214, 158, 61);
    transform: scale(0.9);
}

/* Change background color and adjust the border-radius for the main nav links when in focus */
nav > ul > a:focus {
    background-color: rgb(150, 111, 44);
    border-radius: 30px 0;
}

/* Change color for the navbar toggler icon */
/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28214, 158, 61, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 1px solid #d69e3d;
} */

/* ************************* Navbar Toggler Animation Start **************************************** */

/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #f3f0e9;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: rgb(214, 158, 61);
}

/* ************************* Navbar Toggler Animation End **************************************** */

/* Adjust the size of the logo */
header img {
    width: 200px;
}

/* Use flexbox to align the information in the banner section */
#banner {
    display: flex;
    flex-direction: column;

/* Use a background image and add an overlay by using a linear gradient and alter the alpha channel to change the overlay's opacity */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.75)), url("../images/hero-background.jpg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
}

/* Add top and bottom margin for elements of the hero banner */
.hero {
    margin: 10px 0;
}

/* Add styles to the explore button along with an animation effect */
.explore {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 7px 20px;
    border: none;
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
}

.explore:hover {
    background-color: rgb(214, 158, 61);
    color: white;
    transform: scale(0.95);
}

.explore:focus {
    background-color: rgb( 150, 111, 44);
    color: white;       
    transform: scale(0.9);
}


/* Style the main paragraph text */
.main-text {
    color: rgb(214, 158, 61);
    text-transform: uppercase;
    margin: 50px 0 -20px 0;
}

/* Add a grid layout and create grid area template to arrange coffee images in the welcome*/
.coffee {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 12px;
    grid-template-areas: 
    'one one'
    'one one'
    'two three'
    'four five';
}

/* Assign images to their required area in the grid */
.latte {
    grid-area: one;
}

.coffee-beans {
    grid-area: two;
}

.pouring-coffee {
    grid-area: three;
}

.three-cups {
    grid-area: four;
}

.smiling-employee {
    grid-area: five;
}

/* Apply a flexbox layout for the secial-offer section */
.special-offer {
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
   align-items: center;
}

/* Change the size of the image according to the mockup */
.special-offer img {
    width: 120px;
}

/* Create space  */
.special-offer p {
    margin: 0 0 70px;
}

.special-offer h3 {
    margin: 15px 0 10px;
}

.store {
    display: flex;
    flex-direction: column;

/* Use a background image and add an overlay by using a linear gradient and alter the alpha channel to change the overlay's opacity */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url("../images/coffee-shop.jpeg");
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 40px 20px;
}

.store-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.store-info p {
    color: rgb(214, 158, 61);
}

.store-info h2 {
    margin: 0 0 30px;
}

.location {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    padding: 7px 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100px;
    transition: all ease-in-out 0.4s;
}

.location:hover {
    background-color: rgb(214, 158, 61);
    border: 1px solid rgb(255, 255, 255);
    transform: scale(0.95);
}

.about-us {
    margin: 70px auto;
}

.about-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 7px 20px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
}

.about-btn:hover {
    background-color: rgb(214, 158, 61);
    color: black;
    transform: scale(0.9);
}

.testimonials {
    background-color: rgb(0, 0, 0);
    padding: 20px 10px;
}

.testimonials h2,
blockquote {
    color: rgb(255, 255, 255);
}

.reviews {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
}

.first {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/testimonial-1.jpg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

.second {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url("../images/testimonial-2.jpeg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

.third {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url("../images/testimonial-3.jpeg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

.reviews p {
    color: rgb(214, 158, 61);
    text-transform: uppercase;
    padding-left: 20px;
}

.reviews blockquote {
    margin: auto 0 0;
    padding-left: 20px;
}

/* Add styles to the contact section */
#contact {
    text-align: center;
    padding: 50px 0;
}

.container h2 {
    margin-bottom: 20px;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 10px;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 8px rgb(214, 158, 61);
}

/* Vertically align radio buttons */

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

/* Add space between each radio button */
.options {
    margin-right: 15px;
}

.contact-form button {
    display: inline-block;
    padding: 7px 50px;
    background-color: rgb(214, 158, 61);
    font-weight: bold;
    border-radius: 100px;
    border: none;
    margin: 35px 0 50px;
    transition: all ease-in-out 0.5s;
}

.contact-form button:hover {
    background-color: black;
    color: white;
    transform: scale(0.9);
}

.contact-info {
    text-align: left;
}

.contact-info h3 {
    margin-bottom: 20px;
}

.contact-info p {
    color: #555;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
    color: rgb(214, 158, 61);
}

/* Contact styling end */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0;
    border-top: 5px solid rgb(214, 158, 61);
}

/* *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    *                                                                            *
    *     Add a min-width media query for screen size of 768px and above         *
    *   ------------------------------------------------------------------       *
    *                                                                            * 
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


@media screen and (min-width: 768px) {

/* Change font size for all headings */
h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 1.728rem;
}
    
.container {
    max-width: 768px;
    width: 600px;
    margin: 0 auto;
}

/* Change the height of the banner */
#banner {
    height: 490px;
}

    /* Add a grid layout and create grid area template */
.coffee {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
    grid-template-areas: 
    'one one two three'
    'one one four five';
}

/* Assign images to their required area in the grid */
.latte {
    grid-area: one;
}

.coffee-beans {
    grid-area: two;
}

.pouring-coffee {
    grid-area: three;
}

.three-cups {
    grid-area: four;
}
.smiling-employee {
    grid-area: five;
}

.offers {
    display: flex;
    justify-content: space-bet;
}

/* Add styles to the explore button along with an animation effect */
.explore {
    font-size: 16px;
    padding: 7px 20px;
    border: none;
    transition: all ease-in-out 0.5s;
}

.store-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.store-info {
    display: flex;
}

.store-info button {
    margin-top: auto;
}

/* Button */
.location {
    font-size: 16px;
}

.store-info h2 {
    margin-bottom: 50px;
}

.about-us {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   justify-content: center;
   gap: 15px;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
}

.p-text{
    color: rgb(214, 158, 61);
    margin: 0;
}

.about-info h2 {
    margin: 5px 0;
}

.about-btn {
    margin-top: 20px;
}

.service-reviews {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}

/* Add styles to the contact section */
#contact {
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    margin-bottom: 20px;
}

.form-input {
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 10px;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 8px rgb(214, 158, 61);
}

/* Vertically align radio buttons */

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

/* Add space between each radio button */
.options {
    margin-right: 15px;
}

.contact-form button {
    display: inline-block;
    padding: 7px 50px;
    background-color: rgb(214, 158, 61);
    font-weight: bold;
    border-radius: 100px;
    border: none;
    margin: 35px 0 50px;
    transition: all ease-in-out 0.5s;
}

.contact-form button:hover {
    background-color: black;
    color: white;
    transform: scale(0.9);
}

.contact-info {
    justify-self: end;
}

.contact-info h3 {
    margin-bottom: 20px;
}

.contact-info p {
    color: #555;
    margin-bottom: 10px;
}

.contact-info i {
    margin-right: 10px;
    color: rgb(214, 158, 61);
}

/* Contact styling end */
}

/* *  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
    *                                                                            *
    *     Add a min-width media query for screen size of 1100px and above        *
    *   ------------------------------------------------------------------       *
    *                                                                            * 
    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (min-width: 1100px) {

/* Specify the width for the container/wrapper */
.container {
    max-width: 1200px;
    width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Change font size for all headings */
h1 {
    font-size: 3.815rem;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 1.953rem;
}
    
/* Change the height of the banner */
#banner {
    height: 700px;
}

.offers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: end;
    gap: 30px;
}

.fair-trade {
    grid-column: 1/2;
}

.lacal-baked {
    grid-column: 3/4;
}

.made-with-love {
    grid-column: 2/3;
    grid-row: 1/1;
}

/* Add styles to the explore button along with an animation effect */
.explore {
    font-size: 16px;
    padding: 7px 20px;
    border: none;
    transition: all ease-in-out 0.5s;
}

.store-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.store-info {
    display: flex;
}

.store-info button {
    margin-top: auto;
}

/* Button */
.location {
    font-size: 16px;
}

.about-us {
   margin: 120px auto;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: start;
}

.p-text{
    color: rgb(214, 158, 61);
    margin: 0;
}

.about-info h2 {
    margin: 5px 0;
}

.about-btn {
    margin-top: 20px;
}

.service-reviews {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    
}
}