/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************** CUSTOM CSS *******************/
/* Home Banner Image */
#home-banner {
    background: url("images/hero-background.jpg") no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
}
/* about Banner Image */
#about-banner {
    background: url("images/our-story.jpg") no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
}
/* Menu Banner Image */
#menu-banner {
    background: url("images/menu-banner.jpg") no-repeat;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/* Use absolute to alter the position of the skip links */
#skip-links a{
    position: absolute;
    top: -50px;
    padding: 5px;
    color: white;
}

/* Reset the postion of the skip links when they are in focus and change the background color */
#skip-links a:focus{
    top: 0;
    background-color: #d69e3d;
}

/* ************************* Navbar Toggler Animation Start **************************************** */

/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #f3f0e9;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: rgb(214, 158, 61);
}

/* Background img for testimonials */
.first {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/testimonial-1.jpg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

.second {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75)), url("../images/testimonial-2.jpeg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

.third {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url("../images/testimonial-3.jpeg");
    background-size: cover;
    background-position: top;
    height: 300px;
}

/* ************************* Navbar Toggler Animation End **************************************** */

@media screen and (min-width: 760px) {
    #home-banner,
    #about-banner,
    #menu-banner {
        height: 900px;
    }
}